@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');


:root{
    --font-family: 'Raleway', sans-serif;
    --primary-colo: #D2D79F;
    --bg-color:#3D8361 ;
}


body{
    background-color: var(--bg-color);
    color: var(--primary-colo);
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
    font-weight: 700;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 4em;
}
h3{
    font-size: 2em;
    margin-top: 20px;
}

.mensagem{
    font-size: 1.5em;
    margin-top: 40px;
}

.box{
    border: 1px solid var(--primary-colo);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

